.container {
  display: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container h4 {
  font-size: 3em;
}
.container p {
  width: 80%;
  height: 300px;
  overflow-y: scroll;
  line-height: 25px;
  text-align: justify;
  padding: 5px;
}

@media (max-width: 800px) {
  .container h4 {
    font-size: 2em;
  }
  .container p {
    width: 100%;
  }
}
