.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.features {
  width: 50%;
  position: relative;
}
.features img {
  width: 100%;
  height: 500px;
}

.playImage {
  position: absolute;
  transition: all 1s ease;
  top: 0;
}
.features:hover .playImage:first-child {
  top: -20px;
}
.content {
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content h4 {
  font-size: 2.2em;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
  .features {
    width: 100%;
  }
  .content h4 {
    font-size: 1.5em;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .features img {
    width: 100%;
    height: 300px;
  }
}
