.container {
  color: #fff;
  position: absolute;
  transform: translate(50%, 50%);
}
.container a {
  color: var(--gradient-green-color1);
  font-size: 1.5em;
}
.form {
  padding: 15px;
  width: 500px;
}
.form h3 {
  font-size: 2em;
  color: var(--gradient-green-color1);
}

.home {
  color: #fff !important;
  font-size: 3em !important;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.5s ease;
}
.home svg {
  position: relative;
}
.home:hover {
  color: var(--gradient-green-color1) !important;
}

.form button {
  width: 100%;
  height: 50px;
  background-color: var(--primary-green-100);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  font-size: 1.5em;
  margin: 20px 0;
  border-radius: 7px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .form {
    width: 100%;
  }
}
