.container {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(70, 73, 87, 0.3 );
  font-size: 1em;
  width: 180px;
  text-align: center;
  transition: all 0.5s ease;
  transform: translateY(0px);
  backdrop-filter: blur(4px);
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.container:hover {
  transform: translateY(-5px);
}
.container img {
  width: 50px !important;
  height: 50px;
  position: absolute;
  left: -25px;
  top: 15px;
}
