.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px 0;
  transition: 0.5s all ease;
}

.container p {
  width: 100%;
}
.question {
  padding: 7px 10px;
  background-color: var(--gradient-purple-color1);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.answer {
  height: 0;
  overflow: hidden;
  padding: 0px 25px;
  background-color: var(--neutral-grey5-50);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 0.8em;
  text-align: justify;
  border-bottom: 2px solid var(--gradient-purple-color1);
  transition: all 0.5s ease;
}
.answer.active {
  padding: 7px 25px;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .question {
    font-size: 0.8em;
  }
  .answer {
    font-size: 0.7em;
  }
}
