.container {
  background-color: var(--dark-theme-body-background);
  color: var(--neutral-white-100);
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--neutral-grey5-50);
}
.navbar p {
  font-size: 1.5em;
}
.navbar svg {
  font-size: 2em;
  margin-right: 10px;
  transform: translateY(-5px);
}
