.button {
  background-color: var(--neutral-grey5-50);
  padding: 7px 15px;
  font-size: 0.8em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer !important;
  position: relative;
}
.layer {
  background-color: var(--neutral-grey5-50);
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  backdrop-filter: blur(8px);
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.layerActive {
  width: 100vw;
  height: 100vh;
}
.modal {
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  background-color: var(--neutral-grey5-100);
  position: absolute;
  top: -100%;
  left: 50%;
  transition: 0.5s all ease;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.modalActive {
  top: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.modal select {
  width: 100%;
  background-color: var(--dark-theme-body-background);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.input input {
  width: 100%;
  color: #fff;
  background-color: var(--neutral-grey5-50);
  outline: none;
  border: 2px solid var(--gradient-green-color1);
  padding: 7px 10px;
  border-radius: 7px;
}

.input label {
  color: var(--gradient-green-color1);
  user-select: none;
  margin-top: 10px;
  display: block;
}

.id {
  width: 100%;
  background-color: var(--dark-theme-body-background);
  padding: 10px;
  margin-top: 10px;
  font-size: 0.8em;
  border-radius: 10px;
  border: #fff 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.id svg {
  transform: translateY(-2px);
  margin-right: 5px;
  color: red;
}
.id:hover {
  background-color: var(--neutral-grey5-50);
}

.warning {
  width: 100%;
  background-color: red;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
}

.modal button {
  width: 100%;
  background-color: var(--primary-green-40);
  padding: 10px;
  border: none;
  color: #fff;
  margin-top: 10px;
  font-size: 1.2em;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal button:hover {
  background-color: var(--primary-green-100);
}
