:root {
  /* Futureswap primary colors */
  --primary-yellow-100: #f1ff34;
  --primary-blue-100: #0a84ff;
  --primary-green-100: rgb(41, 255, 155);
  --primary-green-40: rgba(78, 227, 157, 0.4);
  --primary-red-100: #ff496a;

  /* Futureswap neutrals */
  --neutral-white-100: #fff;
  --neutral-grey1-100: #ebebf5;
  --neutral-grey2-100: #acacb5;
  --neutral-grey3-100: #5f6377;
  --neutral-grey4-100: #464957;
  --neutral-grey5-100: #333345;
  --neutral-grey5-50: rgba(51, 51, 69, 0.5);
  --neutral-black-100: #000;

  /* Futureswap background colors */
  --background-blueblack: #07071c;
  --dark-theme-body-background: #141414;
  --dark-theme-body-item: #191919;

  /* Futureswap gradients. Numbers go left to right in gradient as they increase */
  --gradient-brand-color1: #00fed0;
  --gradient-brand-color2: #00b3ec;
  --gradient-brand-color3: var(--gradient-purple-color1);
  --gradient-brand-color4: var(--primary-purple-100);

  --gradient-purple-color1: #9756ff;
  --gradient-purple-color2: var(--primary-purple-100);

  --gradient-red-color1: #fd0f82;
  --gradient-red-color2: #ff5555;

  --gradient-green-color1: #41afc7;
  --gradient-green-color2: var(--primary-green-100);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
button,
input,
select ,
textarea{
  font-family: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
