.squere {
  box-sizing: border-box;
  border: var(--neutral-grey5-50) solid 1px;
  width: calc(100vw / 20);
  height: calc(100vw / 20);
}
.squere:hover {
  animation: animate 1s linear alternate-reverse;
}
@keyframes animate {
  0% {
    background-color: var(--dark-theme-body-background);
  }
  50% {
    background-color: var(--primary-green-100);
  }
  100% {
    background-color: var(--dark-theme-body-background);
  }
}
