.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}
.container h2 {
  margin-top: 5vw;
}
.container p {
  font-size: 1em;
}
.filter {
  background-color: var(--neutral-grey5-50);
  padding: 7px 15px;
  font-size: 0.8em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.filter span {
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 10px;
}

.filter span:last-child {
  margin-right: 0;
}

.table {
  width: 100%;
}

.example,
.headers {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(6, 1fr);
  justify-items: center;
  background-color: var(--neutral-grey5-100);
  padding: 7px 0;
  margin-top: 5px;
  font-size: 0.8em;
}
.headers {
  background-color: var(--neutral-grey5-50);
  border-top-right-radius: 10px;
}

@media (max-width: 500px) {
  .container {
    overflow-x: scroll;
  }
  .filter {
    font-size: 0.5em;
  }
  .headers,
  .example {
    width: 800px;
  }
}
