.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-theme-body-background);
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}
