.contactInput input,
.contactInput textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  background-color: var(--neutral-grey5-50);
  color: #fff;
  border: 2px solid var(--background-blueblack);
  transition: all 0.5s ease;
  resize: none;
}
.contactInput input:focus {
  border: 2px solid var(--primary-blue-100);
}

.dashInput input {
  width: 100%;
  color: #fff;
  background-color: var(--neutral-grey5-50);
  outline: none;
  border: 2px solid var(--gradient-green-color1);
  padding: 7px 10px;
  border-radius: 7px;
}

.dashInput label {
  color: var(--gradient-green-color1);
  user-select: none;
  margin-top: 10px;
  display: block;
}

.ticketInput input,
.ticketInput textarea {
  width: 100%;
  background-color: var(--neutral-grey3-100);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1.1em;
  resize: none;
  margin-bottom: 20px;
}
.ticketInput textarea {
  height: 200px;
}
